<!DOCTYPE html>
<html>
<head>
  <title>You have been invited</title>
</head>
<body>
  <h1>You have been invited to Music Management System</h1>
  <p>Hello {{email}},</p>
  <p>You have been invited to join Music Management System.</p>
  <p>Please click the link below to accept your invitation:</p>
  <p><a href="{{acceptUrl}}">Accept Invitation</a></p>
  <p>This invitation will expire on {{expirationDate}}.</p>
  <p>Best regards,<br>Music Management System Team</p>
</body>
</html>