<!DOCTYPE html>
<html>
<head>
  <title>Your One Time Password</title>
</head>
<body>
  <h1>Your One Time Password</h1>
  <p>Hello,</p>
  <p>Your one time password is: <strong>{{passcode}}</strong></p>
  <p>This code will expire in {{expiresIn}}.</p>
  <p>Best regards,<br>Rockets Starter</p>
</body>
</html>